html {
    background-color: rgb(221, 221, 221);
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.libraryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bookCard {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow:auto; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.formContainer {
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.addForm {
    display: flex;
    flex-flow: column nowrap;
}

.display {
    display:none;
}